@import url('variables.css');

/* Beginnig of Homepage Styles */

.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    background-image: 
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
        url('../Assets/hero-image.png');
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: var(--radius-8);
}

.hero-section h1,
.hero-section p {
    color: var(--text-on-surface-invert);
}

.hero-section p {
    font-size: var(--body-large-font-size);
}

/* End of Homepage Styles */