@import url('variables.css');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
    color: var(--text-body-default);
    font-size: var(--body-default-font-size);
}

.row {
    margin-bottom: var(--spacing-60);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-header-default);
    font-family: var(--font-heading);
    margin-bottom: var(--spacing-16);
}

p {
    color: var(--text-body-default);
    margin-bottom: var(--spacing-16);
}

.p-exception {
    margin-bottom: 0;
}

h1 {
    font-size: var(--display-font-size);
    line-height: var(--display-line-height);
    font-weight: 700;
}

h2 {
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
    font-weight: 500;
    
}

h3 {
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
    font-weight: 500;
}

h4 {
    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);
    font-weight: 500;
}

h5 {
    font-size: var(--h4-font-size);
    line-height: var(--h4-line-height);
    font-weight: 500;
}

h6 {
    font-size: var(--h5-font-size);
    line-height: var(--h5-line-height);
    font-weight: 500;
}

main li{
    margin-left: var(--spacing-32);
}

main a{
    text-decoration: none;
    color: var(--text-primary);
    transition: color 0.3s ease;
}

main a:hover {
    color: var(--text-primary-hover);
    text-decoration: underline;
    text-decoration-style: wavy;
}

main em {
    font-style: italic;
    color: var(--text-header-default);
    font-weight: 600;
}

.custom-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--spacing-24, 24px);
    padding-right: var(--spacing-24, 24px);
}

@media (min-width: 1200px) {
    .custom-container {
        max-width: 1024px;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .custom-container {
        max-width: 768px;
    }
}

.btn-primary {
    background-color: var(--surface-action);
    color: var(--text-on-action);
    border: none;
    cursor: pointer;
    font-family: var( --font-label);
    font-size: var(--label-default-caps-font-size);
    font-weight: 500;
    text-transform: uppercase;
    border-radius: var(--spacing-4);
    height: 40px;
    min-width: 120px;
    padding: 8px 32px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--surface-action-hover);
}

.btn-outline-primary {
    background-color: none;
    color: var(--text-primary);
    cursor: pointer;
    font-family: var( --font-label);
    font-size: var(--label-default-caps-font-size);
    font-weight: 600;
    text-transform: uppercase;
    border-radius: var(--spacing-4);
    border: 2px solid var(--border-primary);
    height: 40px;
    min-width: 120px;
    padding: 8px 32px;
    transition: background-color 0.3s ease;
}

.btn-outline-primary:hover {
    background-color: var(--surface-action);
    color: var(--text-on-action);
}